

 <body class="slice-sm sct-color-1">
 	<div class="profile">
 		<div class="container">
 			<div class="row cols-xs-space cols-sm-space cols-md-space">
 				<div class="col-lg-4">
 					<div class="sidebar sidebar--style-2 no-border stickyfill">
 						<div class="widget">
 							<!-- Profile picture -->
 							<div class="profile-picture profile-picture--style-2">
 								    <a class="navbar-brand" href="<%= '/' %>">
								      <img src="https://images.pexels.com/photos/982300/pexels-photo-982300.jpeg?auto=compress&cs=tinysrgb&h=350" alt="logo" style="width:200px;">
								    </a>

 							</div>

 							<!-- Profile details -->
 							<div class="profile-details">
 								<h2 class="heading heading-4 strong-500 profile-name">Elisabeth Alanna</h2>
 								<h3 class="heading heading-6 strong-400 profile-occupation mt-3">Email</h3>
 							</div>

 							<!-- Profile connect -->
 							<div class="profile-connect mt-4">
 								<a href="#" class="btn btn-styled btn-block btn-rounded btn-base-1">Mon panier</a>
 							</div>

 							<!-- Profile stats -->

 						</div>
 					</div>
 				</div>

 				<div class="col-lg-8">
 					<div class="main-content">
 						<!-- Page title -->
 						<div class="page-title">
 							<div class="row align-items-center">
 								<div class="col-lg-6 col-12">
 									<h2 class="heading heading-10 text-capitalize strong-500 mb-0">Mes commandes
 									</h2>
 								</div>

 							</div>
 						</div>

 						<div class="card no-border">
 							<div>
 								<table class="table table-sm table-hover">
 									<thead>
 										<tr>
 											<th>
 											</th>
 											<th>Order</th>
 											<th>Date</th>
 											<th>Amount</th>
 										</tr>
 									</thead>

 									<tbody>
 										<tr>
 											<td>
 											</td>
 											<td>
 												<a href="#">WPX-1500</a>
 											</td>
 											<td>06/08/2018</td>
 											<td>
 												25.00 EUR
 											</td>
 										</tr>
 									</tbody>
 								</table>
 							</div>
 						</div>

 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </body>