 <section class="slice-lg sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner heading-2 text-normal">
                                    Meet our team
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                Start building fast, beautiful and modern looking websites in no time using our theme.
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block--style-3 block--style-3-v2">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="../../assets/images/prv/team/business/img-b-1.jpg">
                                            </a>
                                        </div>
                                        <div class="block-body">
                                            <h3 class="heading heading-5 strong-600 mb-0">David Wally</h3>
                                            <h4 class="heading heading-sm strong-300 mb-0">Market Administrator</h4>
                                        </div>
                                        <div class="block-body border-top">
                                            <p>
                                                Quisque ut nulla at nunc vehicula lacinia proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.
                                            </p>
                                        </div>
                                        <div class="block-footer border-top">
                                            <ul class="social-media social-media--style-1-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="block block--style-3 block--style-3-v2">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="../../assets/images/prv/team/business/img-b-2.jpg">
                                            </a>
                                        </div>
                                        <div class="block-body">
                                            <h3 class="heading heading-5 strong-600 mb-0">Darby Jewell</h3>
                                            <h4 class="heading heading-sm strong-300 mb-0">Programmer</h4>
                                        </div>
                                        <div class="block-body border-top">
                                            <p>
                                                Quisque ut nulla at nunc vehicula lacinia proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.
                                            </p>
                                        </div>
                                        <div class="block-footer border-top">
                                            <ul class="social-media social-media--style-1-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="block block--style-3 block--style-3-v2">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="../../assets/images/prv/team/business/img-b-3.jpg">
                                            </a>
                                        </div>
                                        <div class="block-body">
                                            <h3 class="heading heading-5 strong-600 mb-0">Bettie Mavis</h3>
                                            <h4 class="heading heading-sm strong-300 mb-0">Creative Director</h4>
                                        </div>
                                        <div class="block-body border-top">
                                            <p>
                                                Quisque ut nulla at nunc vehicula lacinia proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.
                                            </p>
                                        </div>
                                        <div class="block-footer border-top">
                                            <ul class="social-media social-media--style-1-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="block block--style-3 block--style-3-v2">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="../../assets/images/prv/team/business/img-b-4.jpg">
                                            </a>
                                        </div>
                                        <div class="block-body">
                                            <h3 class="heading heading-5 strong-600 mb-0">Elisabeth Alanna</h3>
                                            <h4 class="heading heading-sm strong-300 mb-0">Sales Manager</h4>
                                        </div>
                                        <div class="block-body border-top">
                                            <p>
                                                Quisque ut nulla at nunc vehicula lacinia proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.
                                            </p>
                                        </div>
                                        <div class="block-footer border-top">
                                            <ul class="social-media social-media--style-1-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
