 <section class="slice-lg sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner heading-2 text-normal">
                                    Equipe Thp Lille & Rouen
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                               Bienvenus à tous dans le projet en équipe

                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block--style-3 block--style-3-v2">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="https://images.pexels.com/photos/683381/pexels-photo-683381.jpeg?auto=compress&cs=tinysrgb&h=350">
                                            </a>
                                        </div>
                                        <div class="block-body">
                                            <h3 class="heading heading-5 strong-600 mb-0">Guillaume</h3>
                                            <h4 class="heading heading-sm strong-300 mb-0">Chef de projet</h4>
                                        </div>
                                        <div class="block-body border-top">
                                            <p>
                                              Le chef de projet ou chargé de projet est la personne chargée de mener un projet et de gérer son bon déroulement. De manière générale, il anime une équipe pendant la durée du ou des divers projets dont il a la charge. ...
                                            </p>
                                        </div>
                                        <div class="block-footer border-top">
                                            <ul class="social-media social-media--style-1-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="block block--style-3 block--style-3-v2">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="https://images.pexels.com/photos/432059/pexels-photo-432059.jpeg?auto=compress&cs=tinysrgb&h=350">
                                            </a>
                                        </div>
                                        <div class="block-body">
                                            <h3 class="heading heading-5 strong-600 mb-0">Pierre</h3>
                                            <h4 class="heading heading-sm strong-300 mb-0">Programmer</h4>
                                        </div>
                                        <div class="block-body border-top">
                                            <p>
                                                Spécialiste qui élabore, conçoit des programmes informatiques.
                                            </p>
                                        </div>
                                        <div class="block-footer border-top">
                                            <ul class="social-media social-media--style-1-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-lg-3 col-md-6">
                                    <div class="block block--style-3 block--style-3-v2">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="https://images.pexels.com/photos/887827/pexels-photo-887827.jpeg?auto=compress&cs=tinysrgb&h=350">
                                            </a>
                                        </div>
                                        <div class="block-body">
                                            <h3 class="heading heading-5 strong-600 mb-0">Kalejo</h3>
                                            <h4 class="heading heading-sm strong-300 mb-0">Programmer</h4>
                                        </div>
                                        <div class="block-body border-top">
                                            <p>
                                                Le webdesign est l'association de deux mots, web et design qui signifient littéralement "toile" et "dessiner", il est donc l'action de dessiner pour le web. Il nous faut cependant nous pencher plus en avant sur la définition du design, appelée aussi graphisme pour mieux définir le webdesign.
                                            </p>
                                        </div>
                                        <div class="block-footer border-top">
                                            <ul class="social-media social-media--style-1-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block--style-3 block--style-3-v2">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="https://images.pexels.com/photos/735550/pexels-photo-735550.jpeg?auto=compress&cs=tinysrgb&h=350">
                                            </a>
                                        </div>
                                        <div class="block-body">
                                            <h3 class="heading heading-5 strong-600 mb-0">Gauthier</h3>
                                            <h4 class="heading heading-sm strong-300 mb-0">Développeur</h4>
                                        </div>
                                        <div class="block-body border-top">
                                            <p>
                                                Personne qui écrit des logiciels ou fabrique des cartes électroniques.
                                            </p>
                                        </div>
                                        <div class="block-footer border-top">
                                            <ul class="social-media social-media--style-1-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="block block--style-3 block--style-3-v2">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="https://images.pexels.com/photos/38630/bodybuilder-weight-training-stress-38630.jpeg?auto=compress&cs=tinysrgb&h=350">
                                            </a>
                                        </div>
                                        <div class="block-body">
                                            <h3 class="heading heading-5 strong-600 mb-0">Louis-Elie</h3>
                                            <h4 class="heading heading-sm strong-300 mb-0">Développeur web</h4>
                                        </div>
                                        <div class="block-body border-top">
                                            <p>
                                                Un développeur web est un programmeur spécialisé, ou expressément impliqué dans le développement des applications du World Wide Web, ou des applications qui sont exécutées à partir d'un serveur web sur un navigateur web et qui utilisent le protocole HTTP comme vecteur de transmission de l'information.
                                            </p>
                                        </div>
                                        <div class="block-footer border-top">
                                            <ul class="social-media social-media--style-1-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dribbble" target="_blank">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
