<section class="slice sct-color-1" id="sct_products">
    <div class="container">
        <div class="row-wrapper">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="<%= asset_path("cat/adorable-animal-animal-photography-171227.jpg") %>">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight"  data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Wood phone case</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">80.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-2a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Dark leather bag</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">500.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-3a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Brown leather wallet</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">100.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-4a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight"  data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Gray fabric hat</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">60.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-5a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Satin rose-gold scarf</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">50.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-6a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Faux leather gloves</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">110.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-7a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Brown leather hat</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">100.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-8a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Leather bracelet</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">30.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-1a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight"  data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Wood phone case</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">80.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-2a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Dark leather bag</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">500.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-3a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Brown leather wallet</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">100.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-4a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight"  data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Gray fabric hat</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">60.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-5a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Satin rose-gold scarf</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">50.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-6a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Faux leather gloves</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">110.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-7a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Brown leather hat</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">100.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/shop/accessories/img-8a.png">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight" data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0">Leather bracelet</h3>
                            <span class="star-rating star-rating-sm">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400">$<span class="price-value">30.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination-wrapper d-flex justify-content-center py-4">
            <ul class="pagination pagination--style-3">
                <li class="page-item disabled">
                    <a href="#" class="page-link">«</a>
                </li>
                <li class="page-item active">
                    <a href="#" class="page-link" aria-label="Previous">1</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">4</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">5</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">»</a>
                </li>
            </ul>
        </div>
    </div>
</section>