<section class="slice sct-color-1" id="sct_products">
    <div class="container">
        <div class="section-title section-title--style-1 text-center mb-10">
            <h3 class="section-title-inner heading-2 text-normal">
                Nos articles
            </h3>
        </div>
        <div class="row-wrapper">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
               

<% @items.each do |item| %>

                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="<%= item_path(item.id) %>">
                                    <img src="<%= item.url %>">
                                </a>
                            </div>

                            <div class="product-actions--a product-actions--2" data-animation-in="slideInRight"  data-animation-out="slideOutRight">
                                <button type="button" class="btn-product-action">
                                    <i class="ion-bag"></i>
                                </button>

                                <button type="button" class="btn-product-action">
                                    <i class="ion-ios-heart-outline"></i>
                                </button>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0"><%= item.title %></h3>
                            
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400"><span class="price-value"><%= item.price %></span>€</span>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination-wrapper d-flex justify-content-center py-4">
            <ul class="pagination pagination--style-3">
                <li class="page-item disabled">
                    <a href="#" class="page-link">«</a>
                </li>
                <li class="page-item active">
                    <a href="#" class="page-link" aria-label="Previous">1</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">4</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">5</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">»</a>
                </li>
            </ul>
        </div>
    </div>
</section>