<p>Utilisateur vient de passer une commande</p>
<p>Voici sa commande</p>
<ol>
	<% @commande.items.each do |i| %>
		<li>image <%= i.url %></li>
		<li><%= i.title %></li>
		<li><%= i.description %></li>
		<li><%= i.price %></li>
	<% end %>
</ol>
