<% if !user_signed_in? %>
	<h1> Commencez par vous connecter! </h1>

<% elsif current_user.email != "thplille@gmail.com" %>

	<h1> Vous n'êtes pas admin.
	</h1>



<% else %>
	<h1>New Item</h1>

<%= render 'form', item: @item %>

<%= link_to 'Back', items_path %>


<% end %>

