// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-img {
	background-image: '<%= image-url("cat/adorable-animal-animal-photography-171227.jpg") %>' !important;
}

.notice {
	margin: 0;
	color: #3FA858;

}

.alert {
	margin: 0;
	padding: 0;
	border: 0;
	color: #FF2243FF;
}

.product-image {
	background: none !important;
	padding: 0 !important;
}

a:hover {
	text-decoration: none;
}

.btn-base-6 {
	color: #FFF;
	background-color: #23B7B2;
	&:hover {
		color: #FFF;
		background-color: #46A59F;
	}
}
.product-actions--2{
	width: 40px !important ;
}

.alert-success {
	color: #5bab6d;
	background-color: #d4edda;
	border-color: #c3e6cb;
	padding: 3px 0 3px 10px;
}
